<ion-header [translucent]="true">
  <ion-toolbar color="a3">
    <ion-buttons slot="start">
      <ion-back-button default-href="#"></ion-back-button>
    </ion-buttons>
    <ion-title>detail product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-col size="12" size-md="6" size-lg="6" >
      <ion-card color="a1" *ngIf="pro">
        <img [src]="pro.imagesURL" alt="">
        <ion-card-header>
          <ion-card-title>{{ pro.name }}</ion-card-title>
        </ion-card-header>
        <ion-card-content>
          <ion-item color="a2">
          ราคา:  {{ pro.price }} ฿
          </ion-item>
          <ion-item color="a2">
          รายละเอียด  {{ pro.detail }} 
          </ion-item>
        </ion-card-content>
      </ion-card>
    </ion-col>
  </ion-grid>
</ion-content>
